@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.item{
    height: 450px;
    width: 30%;
    margin: 10px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home{
    font-family: 'Lobster', cursive;
    font-size: 45px;
    font-weight: bolder;
}

.profile{
    font-family: 'Cookie', cursive;
    font-size: larger;
}